nav {
    background-color: lightgray;
}

.navButton {
    display: inline-block;
    background-color: gray;
    padding: 24px;
    color: white;
}

.sidebar {
    width: 29%;
    float: left;
    height: 800px;
    padding: 30px;
}

.main {
    width: 60%;
    float: left;
    height: 800px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.sidebarImage {
    width: 150px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mainImage {
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.rowImage {
    width: 200px;
}